.header {
    color           : $color-text-header;
    background-color: $color-white;
    padding         : 1rem 2rem;
    grid-area       : header;
    position        : relative;
    transition      : height .2s;
    height          : 5.7rem;

    @include for-tablet-up {
        transition-property: none;
        justify-content    : space-between;
    }

    .appLogo {
        height      : 100%;
        width       : auto;
        margin-right: 1rem;
    }

    & button {
        background: none;
        color     : inherit;
        border    : none;
        cursor    : pointer;
        outline   : inherit;
        height    : auto;
        position  : absolute;
        z-index   : 99999;

        @include for-tablet-up() {
            display: none;
        }
    }

    &.open {
        height : 18rem;
        z-index: 999;

        @include for-tablet-up() {
            height: 5.7rem;
        }
    }
}

.menu {
    display       : flex;
    align-items   : center;
    position      : relative;
    flex-direction: column;

    @include for-tablet-up() {
        flex-direction : row;
        justify-content: space-between;
        width          : 100%;
    }

    & h4 {
        font       : menu;
        font-weight: 100;
    }

    & div {
        display: none;

        @include for-tablet-up() {
            display: block;
        }

        &>* {
            margin: 0;
        }
    }

    & section {
        height    : 100%;
        display   : flex;
        max-height: 4.8rem;
        width     : 5rem;

        @include for-tablet-up() {
            width : auto;
            height: 4rem;
        }
    }

    & ul {
        justify-content: space-around;
        width          : 100%;
        z-index        : -1;

        @include for-tablet-up() {
            width  : 40%;
            display: flex;
            z-index: auto;
        }
    }

    & li {
        list-style : none;
        line-height: 3rem;
        font-size  : 2rem;

        @include for-tablet-up() {
            line-height: 1rem;
            font-size  : 1rem;
        }
    }
}