@import './variables';
@import './mixins';
@import './menu';
@import './footer';

.container {
  min-height           : 100vh;
  display              : grid;
  grid-template-rows   : 5.7rem auto auto auto;
  grid-template-columns: 100%;
  ;
  grid-template-areas:
    "header"
    "mensure-roll"
    "mensure"
    "footer"
  ;
  background-color: $color-gray-200;
  color           : $color-gray-600;
}

.weAreLeader {
  grid-area       : mensure;
  background-color: $color-blue-100;
  color           : $color-white;
  align-self      : baseline;
  display         : flex;
  align-items     : flex-end;
  flex-direction  : column;
  position        : relative;

  @include for-tablet-up() {
    flex-direction : row;
    justify-content: flex-end;
  }

  & img {
    mix-blend-mode: multiply;
  }
}

.weAreLeaderImageBg {
  margin               : 0 0 4rem;
  height               : 17.2rem;
  width                : 25.6rem;
  display              : flex;
  background-image     : url(/mensure.png);
  background-position-x: 100%;
  background-repeat    : no-repeat;
  background-size      : cover;
  mix-blend-mode       : multiply;

  @include for-tablet-up() {
    height         : 66.8rem;
    width          : 100%;
    max-width      : 80%;
    background-size: contain;
  }

  @include for-desktop-up() {
    height: 76.8rem;
  }
}

.weAreLeaderPresentation {
  padding: 1.5rem;

  @include for-tablet-up() {
    position : absolute;
    bottom   : 25%;
    left     : 4%;
    max-width: 28rem;
  }

  @include for-desktop-up() {
    bottom: 20%;
    left  : 8%;
  }

  & h2 {
    font-size  : 4.12rem;
    line-height: 4.8rem;
    font-weight: bold;
  }

  & p {
    font-size  : 2.62rem;
    line-height: 3.1rem;
    font-weight: 300;
    font-family: 'Roboto Condensed';
    font-style : normal;
  }
}

.measuring {
  grid-area      : mensure-roll;
  padding        : 2rem;
  height         : 56.8rem;
  display        : flex;
  align-items    : center;
  flex-direction : column;
  justify-content: center;

  @include for-tablet-up() {
    flex-direction : row;
    justify-content: center;
  }

  & h2 {
    font-size  : 5.32rem;
    line-height: 6.2rem;
    font-weight: bold;
    max-width  : 26rem;

    @include for-tablet-up() {
      font-size: 4.92rem;
    }
  }
}

.measuringImageBg {
  margin           : 0;
  height           : 14.2rem;
  width            : 28.6rem;
  background-image : url(/mensure_roll.png);
  background-repeat: no-repeat;
  background-size  : contain;
  mix-blend-mode   : multiply;

  @include for-tablet-up() {
    height: 14.8rem;
    width : 46.6rem;
  }

  @include for-desktop-up() {
    height: 25rem;
    width : 50rem;
  }
}